:root {
    --color-berenjena: rgb(133, 66, 160);
    --color-verde-agua: rgb(58, 180, 143);
    --color-celeste: rgb(207, 234, 241);
    --color-mostaza: rgb(240, 213, 125);
    --color-fucsia: rgb(189, 59, 139);
    --color-dark-blue: rgb(60, 83, 161);
    --color-mandarina: rgb(226, 132, 43);
    --color-dark-dark-blue: rgb(45, 58, 102);
    --color-blue-ocean: rgb(69, 176, 238);
    --color-negro-suave: rgb(35, 36, 37);
}


/***************BODY******************/

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Catamaran', sans-serif;
    color: white;
}

#nombreWeb {
    margin: 0px;
    font-family: 'Dancing Script', cursive;
}

h2,
h3,
h4 {
    margin: 0px;
    font-family: 'Varela Round', sans-serif;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

p {
    margin: 0px;
    font-size: 16px;
}


/***************HEADER******************/

header {
    width: 100%;
    background: var(--color-berenjena);
    height: 500px;
}

.contenido {
    position: relative;
    top: 50px;
    bottom: 50px;
    margin: 0px;
}

#nombreWeb {
    margin: 0px 10%;
    margin-bottom: 100px;
}

.zonaMensajeTitulo {
    margin: 0px 12%;
    text-align: center;
    margin-bottom: 100px;
}

.boton {
    text-align: center;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 100px;
    cursor: pointer;
}

.botonNaranja {
    background: var(--color-mandarina);
}

.boton p {
    line-height: 50px;
}


/***************SERVICIO******************/

#servicio {
    width: 100%;
    height: 550px;
    background: var(--color-verde-agua);
}

.divisor {
    width: 180px;
    height: 5px;
    background: rgba(80, 78, 78, 0.329);
    margin: 0 auto;
}

.zonaMensaje {
    margin: 0px 12%;
    text-align: center;
    margin-bottom: 20px;
}

.zonaMensajeDescripcion {
    margin: 30px 35%;
    text-align: center;
}

.listaServicios,
.listaTeam,
.listaHabilidades,
.listaOpiniones {
    display: block;
    width: 80%;
    margin: 0 auto;
    font-size: 0;
    height: 250px;
}

.ejemploServicio,
.ejemploTeam,
.ejemploHabilidades,
.ejemploOpinion {
    width: 20%;
    height: inherit;
    margin: 0 2.5%;
    display: inline-block;
    vertical-align: top;
}

.ejemploServicio>*,
.ejemploTeam>*,
.ejemploHabilidades>*,
.ejemploOpinion>* {
    text-align: center;
}

.ejemploServicio h3 {
    color: white;
    margin: 10px auto;
}

.icono:before {
    font-family: "IcoFont";
    font-size: 100px;
}

.bandera:before {
    content: "\ef2f";
    color: rgb(243, 104, 104);
}

.lapiz:before {
    content: "\eae8";
    color: rgb(231, 180, 85);
}

.engranaje:before {
    content: "\ef3b";
    color: rgb(70, 70, 199);
}

.cohete:before {
    content: "\ee2d";
    color: gainsboro;
}


/***************EQUIPO******************/

#equipo {
    width: 100%;
    height: 750px;
    background: var(--color-celeste);
}

#equipo h2,
#equipo h3,
#equipo p {
    color: var(--color-dark-dark-blue);
}

#equipo h4 {
    color: dodgerblue;
    margin: 5px auto;
}

#equipo figure {
    width: 200px;
    height: 200px;
    background: dimgrey;
    margin: 40px auto;
    border-radius: 200px;
}

#equipo p {
    margin: 10px auto;
}

.redes {
    width: 100%;
}

.iconoRedes {
    background: rgb(138, 176, 200);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    vertical-align: top;
    margin: auto 2px;
}

.iconoRedes:before {
    font-family: "IcoFont";
    font-size: 15px;
    line-height: 30px;
    color: white;
}

.facebook:before {
    content: "\ed37";
}

.twitter:before {
    content: "\ed7a";
}

.linkedin:before {
    content: "\ed4d";
}

.mail:before {
    content: "\ef12";
}


/***************HABILIDADES******************/

#habilidades {
    width: 100%;
    height: 600px;
    background: white;
}

#habilidades h2,
#habilidades h3,
#habilidades p,
#habilidades span {
    color: var(--color-dark-dark-blue);
}

.porcentaje {
    width: 150px;
    height: 150px;
    background: rgb(198, 205, 223);
    margin: 40px auto;
    border-radius: 150px;
    position: relative;
}

.porcentaje:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.porcentaje span {
    font-size: 50px;
    line-height: 130px;
    background-color: white;
    width: 130px;
    height: 130px;
    border-radius: 100px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.porcentaje.porcentaje-90:after {
    background-image: linear-gradient(270deg, var(--color-blue-ocean) 50%, transparent 50%, transparent), linear-gradient(60deg, var(--color-blue-ocean) 50%, transparent 50%, transparent);
}

.porcentaje.porcentaje-75:after {
    background-image: linear-gradient(270deg, var(--color-fucsia) 50%, transparent 50%, transparent), linear-gradient(0deg, var(--color-fucsia) 50%, transparent 50%, transparent);
}

.porcentaje.porcentaje-70:after {
    background-image: linear-gradient(270deg, var(--color-verde-agua) 50%, transparent 50%, transparent), linear-gradient(-20deg, var(--color-verde-agua) 50%, transparent 50%, transparent);
}

.porcentaje.porcentaje-85:after {
    background-image: linear-gradient(270deg, var(--color-mandarina) 50%, transparent 50%, transparent), linear-gradient(40deg, var(--color-mandarina) 50%, transparent 50%, transparent);
}


/***************PORTFOLIO******************/

#portfolio {
    width: 100%;
    height: 1200px;
    background: var(--color-mostaza);
}

#portfolio h2,
#portfolio h3,
#portfolio h4 {
    color: var(--color-dark-dark-blue);
}

#portfolio .zonaMensajeDescripcion p {
    color: var(--color-dark-dark-blue);
}

.botonesPortfolio {
    width: 100%;
    text-align: center;
}

.botonPortfolio {
    display: inline-block;
    background: var(--color-negro-suave);
    color: white;
    width: 80px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}

.botonPortfolio:hover {
    background: white;
    color: var(--color-negro-suave);
}

.listaPortfolio {
    width: 80%;
    margin: 50px auto;
    font-size: 0;
}

.ejemploPortfolio {
    width: 50%;
    display: inline-block;
    text-align: center;
    margin-bottom: 40px;
}

figure {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
}

.macbook {
    width: 95%;
    margin: 0;
    padding: 0;
}

.botonVerde {
    background: var(--color-verde-agua);
}


/***************SOBRENOSOTROS******************/

#sobreNosotros {
    width: 100%;
    height: 800px;
    background: var(--color-fucsia);
}

.listaOpiniones {
    font-size: 0;
}

.ejemploOpinion {
    width: 48%;
    margin: 3% 1%;
    height: 200px;
    font-size: 0;
}

.figuraOpinion {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.contenidoOpinion {
    width: 62%;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0;
    text-align: left;
}

.contenidoOpinion p {
    font-style: italic;
}

.contenidoOpinion h3 {
    margin-top: 20px;
}

.contenidoOpinion small {
    font-size: 15px;
    color: var(--color-mostaza);
}

#sobreNosotros figure {
    width: 100px;
    height: 100px;
    background: dimgrey;
    margin: 0px auto;
    border-radius: 100px;
}


/***************CONTACTO******************/

#contacto {
    width: 100%;
    height: 700px;
    background: var(--color-dark-blue);
}

#contacto .zonaMensajeDescripcion {
    margin: 30px 10%;
}

.zonaInput {
    width: 60%;
    margin: 0 auto;
}

.datosContacto {
    width: 100%;
    font-size: 0;
    display: flex;
    justify-content: space-between;
}

.datosContacto input {
    font-size: 18px;
    width: 47%;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-style: none;
    background-color: var(--color-dark-dark-blue);
    color: white;
    text-indent: 20px;
}

.datosContacto input::placeholder {
    color: white;
    opacity: 1;
}

textarea {
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    border-style: none;
    text-decoration: none;
    background-color: var(--color-dark-dark-blue);
    color: white;
    padding-top: 20px;
    opacity: 1;
    text-indent: 20px;
}

.datosContacto input::placeholder,
textarea::placeholder {
    color: white;
    opacity: 1;
}

.botonOceano {
    background: var(--color-blue-ocean);
}


/*Medias*/

@media(max-width: 1000px) {
    /***************SERVICIO******************/
    #servicio {
        height: 1000px;
    }
    .ejemploServicio,
    .ejemploTeam,
    .ejemploHabilidades {
        width: 40%;
        margin: 40px 5%;
    }
    .zonaMensajeDescripcion {
        margin: 30px 10%;
    }
    /***************TEAM******************/
    #equipo {
        height: 1300px;
    }
    .ejemploTeam {
        height: 400px;
        /*margin: 0px auto 200px auto;*/
    }
    /***************HABILIDADES******************/
    #habilidades {
        height: 1000px;
    }
    /***************PORTFOLIO******************/
    #portfolio {
        height: 1000px;
    }
    figure {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }
    /***************SOBRENOSOTROS******************/
    #sobreNosotros {
        height: 1000px;
    }
    .listaOpiniones {
        width: 100%;
    }
    .ejemploOpinion {
        width: 48%;
        margin: auto 1%;
        margin-bottom: 180px;
    }
    .ejemploOpinion>* {
        width: 44%;
        margin: 0;
        margin-left: 10px;
    }
    /***************CONTACTO******************/
    .zonaInput {
        width: 80%;
        margin: 0 auto;
    }
}

@media(max-width: 500px) {
    /***************HEADER******************/
    header {
        width: 100%;
        background: var(--color-berenjena);
        height: 600px;
    }
    /***************SERVICIO******************/
    #servicio {
        height: 1500px;
    }
    .ejemploServicio,
    .ejemploTeam,
    .ejemploHabilidades {
        width: 100%;
        margin: 20px auto;
    }
    /***************TEAM******************/
    #equipo {
        height: 2100px;
    }
    .ejemploTeam {
        height: 400px;
        /*margin: 0px auto 200px auto;*/
    }
    /***************HABILIDADES******************/
    #habilidades {
        height: 1500px;
    }
    /***************PORTFOLIO******************/
    #portfolio {
        height: 1500px;
    }
    .ejemploPortfolio {
        width: 100%;
    }
    figure {
        margin-left: auto;
        margin-right: auto;
        max-width: 250px;
    }
    /***************SOBRENOSOTROS******************/
    #sobreNosotros {
        height: 1600px;
    }
    .listaOpiniones {
        width: 100%;
    }
    .ejemploOpinion {
        width: 94%;
        margin: 0 3%;
        margin-bottom: 120px;
    }
    .ejemploOpinion>* {
        margin: 0 2%;
    }
    /***************CONTACTO******************/
    .zonaInput {
        width: 90%;
        margin: 0 auto;
    }
    .datosContacto {
        display: block;
    }
    .datosContacto input {
        width: 100%;
    }
}